body{
    margin: 0;
    background-image: url("../imagenes/imagen_fondo.jpg");


    position: relative!important;
    width: 100%!important;
    height: 100%;
}

.menuP {
    position: relative;
    top: 20%;
}

.caja {
    background-color: white;
    height: 100%;
}

.cajaInstalacion{
    background-color: white;
    width: 40%;
    height: 80%;
}

#contenedor {
    position: relative!important;
    top: 40vh;
    left: 80vh;
}

#contenedorInstalacion {
    position: relative!important;
    left: 15vh;
}

#formulario{
    position: relative;!important;
    top: 50%;
    left: 50%;
    transform: translate3D(-50%, -50%, 0);
}

.espacios {
    margin-top: 20px;
    margin-right: 20px;
}

.vertical-align{
    display: flex;
    align-items: center;
}

.img-center{
    margin: 0 auto;
}

.divider {
    height: 1px;
    width:100%;
    display:block; /* for use on default inline elements like span */
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

#contenedorPrincipal{
    position: relative!important;
    top: 50%;
    left: 50%;
    transform: translate3D(-50%,-50%,0);
}

/*Estilos para las imagenes que se muestran en el modal*/
#imagen{
    width: 100%;
    height: 175px;
}

#imagen img{
    position: relative;
    top: 25px;
    width: 100%;
    height: auto;
}

#imagenAlergeno{
    width: 60px;
}
/*Estilos para las imagenes de los alérgenos de la reserva*/
#contenedorImagen input {
    display: none;
}
#contenedorImagen img {
    width: 75px;
    border: 5px solid transparent;
}
#contenedorImagen input {
    display: none;
}
#contenedorImagen input:checked  + img {
    border-color: #12cb38;
}
/*
* Clase hecha para los botones del menu de navegación de la izquierda
*/
.menu-buttons{
    width: 100%;
    margin-bottom: 5px;
    text-align: left;
}

#cerrarSesion {
    margin-top: 10px!important;
}

#title-cdi {
    font-size: 36px;
}

.buttons-separator{
    margin: 20px 0px;
}

@media only screen and (max-width: 1200px) {
    #title-cdi {
        font-size: 30px;
    }
}

@media only screen and (max-width: 992px) {
    #title-cdi {
        font-size: 24px;
    }
}

@media only screen and (max-width: 768px) {
    .vertical-align{
        display: inline;
    }
}

#cuerpo {
    border: 1px solid #DFDFDF;
    min-height: 375px;
    max-height: 690px;
}


